/**
	whitepaper skin css
*/
#white_wrap{
    width: 1300px;
    margin:0 auto;
	overflow: hidden;
}

#white_wrap h3{
    margin:0 auto;
    display: block;
    font-size:50px;
    padding-top:50px;
	padding-bottom:60px;
	text-align:center;
	color:#000;
}

#white_wrap .white_content{
	padding-bottom:50px;
}

/*퍼백서 내용 css 시작*/


#white_wrap .white_content .white_top{
	width: 100%;		
}


#white_wrap .white_content .white_b{
	width: 100%;
}

#white_wrap .white_content .content_area{
	overflow: hidden;
	padding:35px;
}



#white_wrap .white_content h4{
	font-size: 35px;
	font-weight: 500;
	color:#1b1b1b;
	padding-bottom:40px;
	display: block;
}


#white_wrap .white_content p{
	font-size: 18px;
	font-weight: 300;
	color:#333;
	line-height:1.8;
	display: block;
	text-align: justify;

}


#white_wrap .white_content .p_bold{
	font-weight: 500;
	font-size: 18px;
	color:#444;
	line-height:27px;
	display: inline-block;
}


#white_wrap .white_content .p_g{
	font-weight: 300;
	font-size: 18px;
	color:#999;
	line-height:1.8;
	display: inline-block;
}



#white_wrap .white_content .text_g {
	display: block;
}


#white_wrap .white_content .text_g li{
	padding-bottom:30px;
	display: block;
	line-height: 1.7;
}

#white_wrap .white_content .text_g li .list{
	display: block;
	padding-top:5px;
	line-height: 1.8;
	
}

#white_wrap .white_content .text_g li .list li{
	display: block;
	font-size:16px;
	color:#999;
	font-weight: 400;
	padding-bottom: 15px;
	line-height: 1.7;
}





#white_wrap .white_content .text_g .sub_title{
	font-size: 25px;
	font-weight: 400;
	padding-bottom:20px;
	color:#333;
	display: block;
	line-height: 1.7;
	
}

#white_wrap .white_content .content_area img{

	margin-bottom:20px;
	display: block;
	margin: 0 auto;
}


#white_wrap .white_content .content_area .s_img{

	margin-bottom:20px;
	display: block;
	margin: 0 auto;
}






#white_wrap .bt{
	margin-top:50px;
	float: right;	
	margin-bottom: 60px;
	display: block;
}


#white_wrap .bt li{
	display: block;
	float: left;
}

#white_wrap .bt li:first-child{
	padding-right: 15px;
}



i{
	font-size: 15px;
	cursor: pointer;
}


