/**
	researchpaper skin css
*/
#research_wrap{
    width: 1300px;
    margin:0 auto;
	overflow: hidden;
}

#research_wrap .research_page h3{
    margin:0 auto;
	width: 1000px;
    height: 110px;
    display: block;
    font-size:50px;
    padding-top:80px;
	padding-bottom:80px;
	text-align:center;
	color:#000;
}

#research_wrap small{
    margin:0 auto;
    display: block;
    font-size:20px;
    padding-top:25px;
	padding-bottom:20px;
	text-align:center;
	color:#7f7f7e;
}


#research_wrap .research_content{
	padding-bottom:50px;
}

#research_wrap .research_content h3{
	padding-bottom:50px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	padding-right: 100px;
}

/*퍼백서 내용 css 시작*/ /* 웹 버전 */


#research_wrap .research_content .research_top{
	width: 100%;		
}


#research_wrap .research_content .research_b{
	width: 100%;
}

#research_wrap .research_content .content_area{
	overflow: hidden;
	padding:35px;
}



#research_wrap .research_content h4{
	font-size: 35px;
	font-weight: 500;
	color:#1b1b1b;
	padding-bottom:40px;
	display: block;
}


#research_wrap .research_content p{
	display: block;
	margin: 0 auto;
	width:922px;
	font-size: 15px;
	color: #333;
	line-height:1.8;
	display: block;
	text-align: center;

}

#research_wrap .research_content .exp{
	display: block;
	width:922px;
	font-size: 13px;
	color: rgb(233, 2, 2);
	text-align: start;

}


#research_wrap .research_content .sub_title{
	position: relative; height: auto; padding-bottom: 42%; 
	
}


#research_wrap .research_content iframe{
	position: absolute;
    left:50%;top: 0;
	transform:translateX(-50%);
	width:922px; height:519px; 

}




#research_wrap .research_content .p_bold{
	font-weight: 500;
	font-size: 18px;
	color:#444;
	line-height:27px;
	display: inline-block;
}


#research_wrap .research_content .p_g{
	font-weight: 300;
	font-size: 18px;
	color:#999;
	line-height:1.8;
	display: inline-block;
}



#research_wrap .research_content .text_g {
	display: block;
}


#research_wrap .research_content .text_g li{
	padding-bottom:30px;
	display: block;
	line-height: 1.7;
}

#research_wrap .research_content .text_g li .list{
	display: block;
	padding-top:5px;
	line-height: 1.8;
	
}

#research_wrap .research_content .text_g li .list li{
	display: block;
	font-size:16px;
	color:#999;
	font-weight: 400;
	padding-bottom: 15px;
	line-height: 1.7;
}

#research_wrap .research_top .text_g{
	font-size: 18px;
}



#research_wrap .research_content .text_g .sub_title{
	font-size: 25px;
	font-weight: 600;
	padding-bottom:20px;
	color:#333;
	display: block;
	line-height: 1.7;
	font-family: 'Noto Sans KR', sans-serif;
	
	
}

#research_wrap .research_content .text_g .sub_title iframe{
	position: absolute;
    top: 0;
	left:50%; transform:translateX(-50%);
	width:922px; height:519px;
}



#research_wrap .research_content .text_g input{
	margin-bottom: 10px;
    outline: none;
    border-style: none;
    border-bottom: 2px solid #000;
	font-size: 20px;
}




label

input[type="checkbox"] {
	display: block;
	width: 20px;
	height: 20px; 
	margin-top: 5px;

}



input[type="radio"] {
	display: block;
	width: 20px;
	height: 20px; 
	margin-top: 5px;
	
}

input[type="text"] {
	display: block;
	width: 500px;
	margin-top: 5px;
	margin-left: 5px;
}

input[type="file"] {
	display: inline-block;
	color: #999;
	cursor: pointer;
	margin-right: 509px;
    margin-top: 40px;
  
}  



  select{
	width: 120px; height: 40px; 
}



#research_wrap .research_content .text_g .form-group{
	display: block;
	width: 500px;
	margin-bottom: 50px;
	position: relative;
	
}



#research_wrap .research_content .text_g .copyButton{
	position: absolute; top: 2px; left: 520px;
	background:#fbb906;
  color:#fff;
  border:none;
  height:30px;
  font-size:0.8em;
  padding:0 2em;
  cursor:pointer;
  transition:600ms ease all;
  outline:none;
	
}

#research_wrap .research_content .text_g .copyButton:hover{
	background:#000;
	color:#fff;
  }



#research_wrap .research_content .text_g .form-group label{
	display: inline-flex;
	width: 500px;
	height: 50px;
	font-size: 13px;
	margin-bottom: 10px;
	color: red;
}


#research_wrap .bt {
	margin-bottom: 30px;
}


#research_wrap .research_content .text_g .form-group .tex{
	display:block;
	font-size: 15px;
	text-align:justify;
	width: 200px;
	height: 20px;
	 padding-bottom: 10px;
	 margin-left: 10px;
}



#research_wrap .research_content .text_g .form-group textarea{
	display: block;
	width: 580px;
	height: 150px;
	font-size: 15px;
	resize: none;
	
}



#res_name , #respon_email , #respon_tel {
	width: 580px;
	height: 30px;
}


#research_wrap h3{
margin-top: 35px;
margin-left: 120px;
padding-bottom: 20px;
text-align: center;
}


#research_wrap .research_page4 small{
	text-align: center;
    font-size: 20px;
    margin-right: 70px;
    padding-bottom: 100px;
    padding-top: 20px;
}



#research_wrap .research_content .content_area img{

	margin-bottom:20px;
	display: block;
	margin: 0 auto;
}


#research_wrap .research_content .content_area .s_img{

	margin-bottom:20px;
	display: block;
	margin: 0 auto;
}






#research_wrap .bt{
	margin-top:50px;
	float: right;	
	margin-bottom: 60px;
	display: block;
}


#research_wrap .bt li{
	display: block;
	float: left;
}

#research_wrap .bt li:first-child{
	padding-right: 15px;
}



i{
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 5px;
}

