/**
	etc skin css
*/

#privacy_wrap{
	width: 1300px;
	margin:0 auto;
	word-break: break-word;
}



#privacy_wrap .tit_policy {
    display: block;
    padding-top: 76px;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.5;
	color: #1e1e1e;
	font-weight: 600;

	
}

#privacy_wrap .desc_g {
    padding-top: 20px;
	line-height: 1.8;
	color:#333;
	font-size: 16px;
	font-weight: 300;
	word-break: break-word;
}




#privacy_wrap .con_policy{
	overflow: visible;
    position: relative;
    width: 100%;
    padding-top: 55px;
	clear: both;
	padding-bottom: 100px;
	
	
}

#privacy_wrap .con_policy .area_cont.fst {
	margin-top: 0;
	border-top: 2px solid #4d4d4d;
	width: 100%;
	
}





#privacy_wrap .con_policy .tit_subject1 {
	font-weight: bold;
	padding-top: 29px;
	font-size: 16px;
	font-weight: 400;
	color:#999;
	line-height: 1.7;
	
}


#privacy_wrap .con_policy .tit_subject2{
	display: block;
	padding-top: 20px;
	line-height: 1.7;
	color: #1e1e1e;
	font-size: 16px;
	font-weight: 500;
}
#privacy_wrap .con_policy .emph_group{
	display: block;
    font-size: 14px;
    padding: 14px 0 0 25px;
	color: #1e1e1e;
	font-style:normal;
	font-weight: 500;
}


#privacy_wrap .con_policy .desc_group{
	display: block;
	padding-left: 25px;
	padding-top:10px;
	font-size: 14px;
	font-weight: normal;
	color: #666;
	line-height: 1.7;
}


#privacy_wrap .desc_g_n{
	padding-top: 20px;
	line-height: 1.7;
	color:#333;
	font-size: 16px;
	font-weight: 300;
	display: block;
	
}

#privacy_wrap .em_g{
	display: inline-block;
    font-size: 16px;  
	color: #1e1e1e;
	font-weight: 500;
	word-break: break-word;
}

#privacy_wrap .con_policy .area_cont{
	width: 100%;
    margin-top: 60px;
	border-top: 1px solid #e6e6e6;
}

#privacy_wrap .con_policy .list_2depth{
	padding: 9px 0 0 37px;
}

.list_2depth li {
	padding-top: 0;
    font-size: 14px;
    line-height: 1.7;
}

.list_2depth li:before {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 12px 14px 0 -16px;
    vertical-align: top;
    background-color: #1e1e1e;
    content: '';
}


 .list_2depth_type1 {
    padding-left: 0;
}

.list_2depth_type1 li {
    font-size: 14px;
	line-height: 1.8;
	font-weight: 400;
}

.con_policy .list_2depth_type1 h5{
    display: block;
	color: #555;
	font-weight: 500;
	padding-top:8px;
	font-size: 14px;
}



.table {
	margin-top: 80px;
	border-top: 2px solid #4d4d4d;
}

.tbl {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
	table-layout: fixed;
}

.tbl th {
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-weight: normal;
	font-size: 14px;
	line-height:5;
	font-weight: 500;
	color:#333;


}


.tbl td {
    border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
    font-size: 14px;
    line-height: 26px;
	text-align: center;
	line-height:4;
	font-weight: 300;
	color:#555;
}



.tit_terms{
	display: block;
    padding: 30px 0 0 21px;
    font-weight: normal;
	color: #1e1e1e;
	font-size: 16px;
    font-weight: 500;
}

.list_2depth_type2 {
    padding-left: 20px;
}

.list_2depth_type2 li {
    font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

.con_policy .list_2depth_type2 h5{
    display: block;
	color: #555;
	font-weight: 500;
	padding-top:8px;
	font-size: 14px;
}

