/*
	whitepaper skin css
*/
#white_wrap{
 
    margin:0 auto;
	overflow: hidden;
	height: auto;
	margin-bottom: 180px;
	padding-right: 20px;
	padding-left: 20px;
}

#white_wrap h3{
    margin:0 auto;
    display: block;
    font-size:40px;
    padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	color:#000;
}

#white_wrap .white_content{
	padding-bottom:50px;
}

/*퍼백서 내용 css 시작*/


#white_wrap .white_content .white_top{
	width: 100%;		
}


#white_wrap .white_content .white_b{
	width: 100%;
}

#white_wrap .white_content .content_area{
	overflow: hidden;
	padding:35px;
}



#white_wrap .white_content h4{
	font-size: 35px;
	font-weight: 500;
	color:#1b1b1b;
	padding-bottom:40px;
	display: block;
}


#white_wrap .white_content p{
	font-size: 18px;
	font-weight: 300;
	color:#333;
	line-height:27px;
	display: block;
}


#white_wrap .white_content .p_bold{
	font-weight: 500;
	font-size: 18px;
	color:#444;
	line-height:27px;
	display: inline-block;
}


#white_wrap .white_content .p_g{
	font-weight: 300;
	font-size: 18px;
	color:#999;
	line-height:27px;
	display: inline-block;
}



#white_wrap .white_content .text_g {
	display: block;
}


#white_wrap .white_content .text_g li{
	padding-bottom:30px;
	display: block;
}

#white_wrap .white_content .text_g li .list{
	display: block;
	padding-top:5px;
	
}

#white_wrap .white_content .text_g li .list li{
	display: block;
	font-size:16px;
	color:#999;
	font-weight: 400;
	padding-bottom: 15px;
}





#white_wrap .white_content .text_g .sub_title{
	font-size: 25px;
	font-weight: 400;
	padding-bottom:20px;
	color:#333;
	display: block;
	
}

#white_wrap .white_content .content_area .img{
	width: 80%;
	margin-bottom:20px;
	display: block;
	margin: 0 auto;
}


#white_wrap .white_content .content_area .s_img{
	width: 45%;
	margin-bottom:20px;
	display: block;
	margin: 0 auto;
}

#white_wrap .white_content .content_area img{
	width: 100%;
	margin-bottom:20px;
	display: block;
}




#white_wrap .bt{
	margin-top:50px;
	float: right;	
	margin-bottom: 60px;
	display: block;
}


#white_wrap .bt li{
	display: block;
	float: left;
}

#white_wrap .bt li:first-child{
	padding-right: 15px;
}



i{
	font-size: 15px;
	cursor: pointer;
}

/* 2020/09/22 구진모 수정*/
#white_wrap table{
	margin: auto;
	text-align: center;

}

body{
	height: 100%;
}

/* 2020/09/22 15:50:23 구진모 패배선언*/

/*박초원 아마도 시작*/

#white_wrap .searchbox{
	overflow: hidden;
}

#white_wrap .searchbox .btn-primary {
	background:#fbb906;
	border:0;
}

#white_wrap .btn-success {
	background: #2a2a2a;
	color:#fff;
	border:0;
}

#white_wrap .form-group .px100 {
	width: 104px;
}

#white_wrap .form-group{
margin-bottom: 10px;	
}

#white_wrap .table-top{
 margin-top:20px;

}

#white_wrap .mt20{
	margin-top:50px;
}

#white_wrap .pull-right{
	padding-bottom:20px;
	float:none!important;
}


.form-group .btn-primary{
	height: 28px;
	
}



.form-group .input{
	padding:3px 12px;
	display: block;
	float: left;
	width: 109px;
}

/*공지사항 리스트끝 디테일시작*/

#board_wrap {
	padding-right: 20px;
	padding-left: 20px; 
	margin: 0 auto;
	margin-bottom: 100px;
	
}


#board_wrap .board{
	width: 100%;
	overflow: hidden;
	margin-bottom: 170px;;
}

#board_wrap .board .input {
	width: 100%;
}

#board_wrap h5{
	padding-bottom: 50px;
	padding-top:50px;
	font-size: 40px;
	text-align: center;
	border-bottom:2px solid #000;
	line-height: 1.3;
}



#board_wrap h3{
	padding-top:20px;
	padding-bottom: 20px;
	display: block;
	font-size: 25px;
	font-weight: 500;
	color:#000;
}

#board_wrap .board ul{
	display: block;
	border-bottom:1px solid #ddd;
	overflow: hidden;
	padding-bottom: 10px;
	border-top:1px solid #ddd;
	
}

#board_wrap .board li{
	display: block;
	float: right;
	padding-top:10px;
	padding-right: 5px;
	font-weight: 500;
	color:#333;

}

#board_wrap .board li:first-child{
	float: left;
}


#board_wrap #post-content{
	border-bottom:1px #ddd solid;
	padding-bottom: 30px;
	padding-top: 30px;
	font-size: 16px;
	color:#000;
	font-weight: 300;
	line-height: 1.5;
	min-height: 150px;
}


/* #board_wrap .pull-left{
	padding-top:100px;
} */

#board_wrap .btn-success {
	background: #2a2a2a!important;
	color: #fff!important;
	border:0!important;
}

#board_wrap .btn {
	background: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#board_wrap #viewcomment{
	border-bottom:1px solid #eee;
	padding-bottom: 50px;
}

#board_wrap .mb20{
	margin-bottom:0px;
}

#board_wrap .media-body{
	font-size: 12px;
	font-weight: 300;
	color:#333;
	line-height: 1.5;
}
#board_wrap .media-heading{
	font-size: 13px;
	font-weight: 500;
	color:#333;
	padding-bottom: 5px;
}


/******글쓰기 폼 정의*********/
#board_wrap .board .writeform {
	width: 100%;
}
#board_wrap .board .writeform li{
	float: none;
	list-style: none;
}


#board_wrap .board .writeform .btn-success{
	background: #333;
	color:#fff;

}

#board_wrap .board .writeform li span {
	display: block;
	margin-bottom: 8px;
}

#board_wrap .board .writeform .input, #board_wrap .board .writeform textarea {
	width: 100%;
	box-sizing: border-box;
	
}

#board_wrap .board .writeform .input {
	height: 40px;
}

#board_wrap .board .writeform input[type="file"] {
	width: 100%;
	border:1px solid #ccc;
}