/**
	pershouting skin css
*/


#shouting_all {width:1200px; margin:0 auto;}

/*서브메뉴 타이틀과 서브메뉴 시작*/
#shouting_all .sc_top h2{
    font-size: 40px;
    font-weight: bold;
    color:#000;
    display: block;
    margin-top:125px;

}


#shouting_all .sc_top p{
    font-size:19px;
    color:#999999;
	display: block;
    padding-top:35px;
    line-height: 1.7;
}

/*오늘의샤우팅과 미션어쩌구 회색텍스트 끝*/

/*노란색 서브메뉴 시작 */

#shouting_all .sc_top{
    width: 100%;
    height: 215px;
    position: relative;
    text-align: center;
    
}

#shouting_all .sc_top ul{
    position: absolute;
    width: 485px;
    height:104px;
    top:90px;
    left: 50%;
    margin-left: -242.5px;
    background:url(/assets/images/title_ps.gif) repeat-x center 86px; 
    overflow: hidden; 

}

#shouting_all .sc_top ul li{
    position: relative;
    padding-top:69px;
    width:100px;
    height: 35px;
    float: left;
    padding-left: 15px;
    
}


#shouting_all .sc_top ul li a{
    display: block;
    font-size: 15px;
    color:#999;
    text-decoration: none;
    font-weight: 500;
    width:100px;
    height: 33px;
    line-height: 33px;
    border-radius: 20px;
    border:1px solid #fab908;
    text-align: center;
    background-color: #fff;
    
    
    
    
}

#shouting_all .sc_top ul li:first-child{
    
    padding-left: 18px;
    
}

#shouting_all .sc_top ul li:last-child{
    padding-left: 18px;
    
}

#shouting_all .sc_top li a:hover,#shouting_all .sc_top .on{
    background-color: #fab908;
    color:#fff;
}



/*서브메뉴 끝*/

/*검색창 서치시작*/

#shouting_all .sc_b{
    width:100%;
    position: relative;
    overflow: hidden;
    margin:0 auto;
    margin-bottom: 80px;
    border-top: 3px solid #000;
    padding-bottom:95px;
}

#shouting_all .search_area, .search_area {
	float:right;
	display:block;
	margin-bottom:30px;
	padding-top:150px;
}

#shouting_all .search_area input[type="text"] {
	float: left;
	font-size: 14px;
	color:#777;
	width: 180px;
	border:1px solid #ccc;
	height: 35px;
	padding-left: 8px;

}
#shouting_all .search_area button {
	float: left;
	height: 37px;
	border:0;
	width: 40px;
	background:#fab908;
}

#shouting_all .search_area button i {
	color:#fff;
	font-size: 18px;
}

/*검색창 서치시작*/

#shouting_all .sc_b .nothing {
    padding: 50px 0;
    font-size: 14px;
    text-align: center;
}


/*미션 리스트 내용 시작*/


#shouting_all .sc_b ul.list_box {
    width:100%;
    border-bottom: 3px solid #000;
    overflow: hidden;
    float: left;
    display: block;
    

}

#shouting_all .sc_b ul.list_box li{
    padding: 50px 0;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #ddd;
}

#shouting_all .sc_b ul.list_box li:last-child{
    border-bottom: none ;
}





#shouting_all .sc_b .thumnail {
    width:518px;
    height: 293px;
    overflow: hidden;
    position: relative;
    float: left;
    border:1px #ccc solid;
  
}

#shouting_all .sc_b .thumnail a {
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#shouting_all .sc_b .thumnail a img {
	width: 100%;
}


#shouting_all .thumnail iframe{
    width: 100%;
    height: 100%;
}



#shouting_all .txt_box{ 
	float: left;
	width: 630px;
    background-color: #fff;
    padding-left: 49px;
}

/*미션 진행중 CSS 시작*/


#shouting_all .sc_b .thumnail .time_box{
    height: 43px;
    max-width: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0,0.5);
    padding: 0px 15px;
    text-align: center;
    position: absolute;
    z-index: 3;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    line-height:43px;
    
}

#shouting_all .sc_b .thumnail .time_box h1 {
    font-size: 20px;
    overflow: hidden;
    text-align: center;
}


#shouting_all .sc_b .thumnail .opacity {
    width:100%;
    height: 100%;
    position: absolute;
    z-index: 2; 
}




#shouting_all .sc_b .txt_box .txt_t {
  overflow:hidden;
  
}


#shouting_all .sc_b .txt_box .txt_t .yet{
    width:83px ;
    /*border-radius: 15px;
    border:2px solid #333;*/
    border-radius: 0 15px 15px 0;
    padding-right: 5px;
    background:#2a2a2a;
    text-align: center;
    line-height: 30px;
    color:#fff;
    font-size: 17px ;
    float: left;
    font-weight: 500;
    display: block;
    

}


#shouting_all .sc_b .txt_box .txt_t h3 {
	display:block;
    font-size: 20px;
    color:#333;
	font-weight: 500;
    float: right;
    background:url(/assets/images/nav_line_bg.gif) repeat-x center 16px;

}

#shouting_all .sc_b .txt_box .txt_t h3 b {
    font-weight: 800;
}

#shouting_all .sc_b .txt_box .txt_t h3 img {
	width: 25px;
	height: 25px;
	vertical-align: sub;
}
/*
#shouting_all .sc_b li .misson_t{
    
}*/

#shouting_all .sc_b .txt_box .misson_t a {
    display: block;
    margin-top: 40px;
    text-decoration:none;
    height:200px;
    overflow: hidden;
    color:#656565;
    font-weight: normal;
	font-size: 18px;
	line-height:28px;
}


#shouting_all .sc_b .txt_box .misson_t a h2{
	width: 100%;
    font-size: 28px;
    font-weight: 600;
  	color:#333;
	margin-bottom: 30px;
	/* overflow: hidden; */
	white-space: nowrap;
	text-overflow: ellipsis;
   
}

#shouting_all .sc_b .txt_box .misson_t a .icons 
{   width: 91px; 
    height: 83px; 
    margin-left: 1px;

}
#shouting_all .sc_b .txt_box .misson_t a .icons img 
{   width: 91px; 
    height: 83px; 
    opacity: 0.4;
}

/*미션진행중 css 종료*/


/*오픈 예정 이벤트 css*/



#shouting_all .sc_b .lock .thumnail p{   
    background-color: rgba(255, 217, 0, 0.5);    
}


#shouting_all .sc_b .lock .opacity { 
    background-color: rgba(0,0,0,0.5); 
}


.txt_box .txt_t .icon{
    position: relative;
    left: 10px;
    width: 30px;
    height: 30px;
    
}
.txt_box .txt_t .icon_close{
    position: relative;
    left: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.4;
    filter:grayscale(40); 
}


#shouting_all .sc_b .lock .txt_box .txt_t .yet{
    background:#fab908;
    color:#fff;
}



#shouting_all .sc_b .lock .txt_box .txt_t h3 {
    color:#fab908; 
    background:none;
}






#shouting_all .sc_b .lock .txt_box .misson_t a h2{
	color:#fab908;    
}



    
/*오픈예정 css 끝*/



/*미션마감 css 시작*/




#shouting_all .sc_b .endgame .thumnail .opacity {
  
    background-color: rgba(255,255,255,0.5);
   
}








#shouting_all .sc_b .endgame .txt_box .txt_t .yet{
    color:#fff;
    background:#c3c3c3;
}




#shouting_all .sc_b .endgame .txt_box .txt_t h3 {
    color:#ddd;
    background:none;
}


#shouting_all .sc_b .endgame .txt_box .misson_t a h2,
#shouting_all .sc_b .endgame .txt_box .misson_t a {
    color:#ddd;    
}



/*//미션리스트 css끝*/



/*미션상세페이지 css 시작*/


.event_content_all{
	width: 100%;
	float: left;
	border-bottom:1px solid #ddd;
}

.event_title{ 
	display: block;			
}

.event_title dt{
	padding-bottom: 35px;
	padding-top:35px;
	border-bottom:1px solid #ddd;
	
}

.event_title dt p{
    display: block;   
    color:#333;
    font-size: 27px;
    font-weight: 500;
}


.event_title dd{   
    text-align: right;
    border-bottom:1px solid #ddd;
	padding-top:10px;
	padding-bottom:10px;
	overflow: hidden;
	
}
.event_title dd .icon{
    /* position: relative; */
    right: 580px;
    width: 30px;
    height: 30px;
    margin-right: 570px;
}

.event_title dd ul{
    overflow: hidden;
    display: block;   
}


.event_title dd u{
    width:83px;
    border-radius: 0 15px 15px 0;
    background:#2a2a2a;
    text-align: center;
    line-height: 30px;
    color:#fff;
    font-size: 17px ;
    float: left;
    font-weight: 500;
    display: block;
    text-decoration:none;
}

.event_title dd ul.detail_title {
    float: right;
}

.event_title dd ul.detail_title li {
    display: inline-block;
    color:#fab908;
    font-weight: 500;
    font-size: 21px;
    height: auto;
    padding-left: 10px;
}


 .event_title dd ul.detail_title li strong{   
    color:#333;
    display: inline-block;
    font-weight: normal;
    background:url(/assets/images/nav_line_bg.gif) repeat-x center 21px;
 }

 .event_title dd ul.detail_title li b {
     font-weight:600;

 }

 .event_title dd ul.detail_title li:first-child{
   padding-right: 12px;
   padding-left: 0;
   background:url(/assets/images/title_bar.png) no-repeat right;   
}





.event_main{
    width: 100%;	
	height: 500px;
	margin:0 auto;
	padding-bottom: 50px;
	
    
    
}


.event_content_all .event_main iframe{
    width: 100%;
	height: 100%;

 }



 .event_content_all .write{
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size:15px;
    padding-bottom:50px;
    font-weight: normal;
    padding-top:50px;
    min-height: 300px;
    line-height: 1.5;
}






/*************제이쿼리 타이머 퍼샤우팅*****************/

/************미션상세 타임바******************/
#time_btn_bar {display: none; width: 100%; padding-bottom: 8px; position: fixed; background:rgb(250,185,8,0.9); z-index:999; margin-top: 0!important;}
#time_btn_bar .time_bar_cont {width: 600px; margin:0 auto; margin-top:20px; margin-bottom:20px;}
#time_btn_bar .time_bar_cont::after {display: block; clear: both; content: '';}
#time_btn_bar .time_bar_cont .btn1 {float:right; margin-top:10px; }
#time_btn_bar .time_bar_cont p.m_txt {float: left; font-weight: 500; margin-top: 13px; font-size: 25px; color:#fff; border-bottom:1px solid #fff; padding-bottom:8px;}

.time_box {
	text-align: center;
    float: left;
    position: relative;
  }

.time_box .time_label { position: absolute; bottom:-12px;}
.time_box .time_label small {
    display: inline-block;
    width: 70px;
    text-align: left; 
    color: #ffeebe;
    font-size: 12px;
}

#time_btn_bar .time_bar_cont  h1.timer {
    min-width: 370px;
}

 h1.timer {
	color: #fff;
	font-family: 'Orbitron',sans-serif;
    font-size: 50px;
   
  }
.jst-hours {
float: left;
}
.jst-minutes {
float: left;
}
.jst-seconds {
float: left;
}
.jst-clearDiv {
clear: both;
}


.bodyTimeoutBackground {
background: #fff;
}

.timeout {
color: red;
-webkit-animation-name: blinker;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
-webkit-animation-duration: 1s;
}
@-webkit-keyframes blinker {
from { opacity: 1.0; }
to { opacity: 0.0; }
}
  
  