/**
	pershouting skin css
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');


#shouting_all {padding-top:30px; padding-left: 20px; padding-right: 20px; margin:0 auto;}

/*서브메뉴 타이틀과 서브메뉴 시작*/
#shouting_all .sc_top h2{
    font-size: 2.462em;
    font-weight: bold;
    color:#000;
    display: block;
    margin-top:50px;
    line-height: 1.5;
    word-break: break-word;
}


#shouting_all .sc_top p{
    font-size:1.154em;
    color:#999999;
	display: block;
    padding-top:35px;
    line-height: 1.7;
    word-break: break-word;
}

/*오늘의샤우팅과 미션어쩌구 회색텍스트 끝*/

/*노란색 서브메뉴 시작 */

#shouting_all .sc_top{
    width: 100%;
    position: relative;
    text-align: center;
    
}

#shouting_all .sc_top ul{
    width: 100%;   
    top:90px;
    background:url(/assets/images/title_ps.gif) repeat-x center 86px; 
    overflow: hidden; 

}

#shouting_all .sc_top ul li{
    position: relative;
    padding-top:69px;
    width:16%;
    float: left;
    padding-left: 3.2%;
   
}


#shouting_all .sc_top ul li a{
    display: block;
    font-size: 0.85em;
    color:#999;
    text-decoration: none;
    font-weight: 500;
    width:100%;
    line-height: 2.6;
    border-radius: 20px;
    border:1px solid #fab908;
    text-align: center;
    background-color: #fff;
    height: 32px;     
    box-sizing: border-box;  
}




#shouting_all .sc_top li a:hover,#shouting_all .sc_top .on{
    background-color: #fab908;
    color:#fff;
}



/*서브메뉴 끝*/

/*검색창 서치시작*/


#shouting_all .sc_b .nothing {
    padding: 30px 0;
    font-size: 14px;
    text-align: center;
}

#shouting_all .sc_b{
    width:100%;
    position: relative;
    overflow: hidden;
    margin:0 auto;
    margin-bottom: 80px;
    border-top: 3px solid #000;
    padding-bottom:24px;
}

#shouting_all .search_area, .search_area {
	float: left;
	display:block;
	margin-bottom:30px;
    padding-top:30px;
    width: 50%;
    float:right; 
    
    
}

#shouting_all .search_area input[type="text"] {
	float: left;
	font-size: 0.9em;
	color:#777;
	border:1px solid #ccc;
	line-height: 2.5;
    padding-left: 2%;
    width: 80%;
    float: left;
    box-sizing: border-box; 

}
#shouting_all .search_area button {
	line-height: 2.65;
	border:0;
	width: 20%;
    background:#fab908;
    height: 31px;
    float: right;
}

#shouting_all .search_area button i {
	color:#fff;
    font-size: 1.385em;
    height: 30px;
    
   
}

/*검색창 서치시작*/



/*미션 리스트 내용 시작*/


#shouting_all .sc_b ul.list_box {
    width:100%;
    border-bottom: 3px solid #000;
    overflow: hidden;
    float: left;
    display: block;
    

}

#shouting_all .sc_b ul.list_box li{
    padding: 40px 0;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #ddd;
}

#shouting_all .sc_b ul.list_box li .timer{
    height: 43px;
    max-width: 100%;
    overflow: hidden;
    /* background-color: rgb(241 4 4 / 50%); */
    padding: 0px 15px;
    text-align: center;
    /* position: absolute; */
    z-index: 3;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 43px;
}

#shouting_all .sc_b ul.list_box li .timer span{
 color: #fff;
 font-family: 'Orbitron', sans-serif;
}
/* *********** */

#shouting_all .sc_b ul.list_box li:last-child{
    border-bottom: none ;
}





#shouting_all .sc_b .thumnail {
    width:100%;
    overflow: hidden;
	border:1px solid #eee;
	box-sizing: border-box;
    height: 68vw;
    position: relative;
    

}

#shouting_all .sc_b .thumnail a {
    display: block;
    overflow: hidden;
    height: 100%;
}

#shouting_all .sc_b .thumnail a img {
    width: 100%;
    height: 100%;
}


#shouting_all .thumnail iframe{
   height: 100%;
	width: 100%;
}



#shouting_all .txt_box{ 
	float: left;
	width: 100%;
    background-color: #fff;
    padding-top:30px;
}

/*미션 진행중 CSS 시작*/


#shouting_all .sc_b .thumnail .time_box{
   
    overflow: hidden;
    background-color: rgba(0, 0, 0,0.5);
    padding: 0px 15px;
    text-align: center;
    position: absolute;
    z-index: 3;
    color:#fff;
    font-size: 1em;
    font-weight: bold;
    line-height:3.308;
    
}

#shouting_all .sc_b .thumnail .urgent_box{

    overflow: hidden;
    background-color: rgb(241 4 4 / 50%);
    padding: 0px 15px;
    text-align: center;
    position: absolute;
    z-index: 3;
    color:#fff;
    font-size: 1em;
    font-weight: bold;
    line-height:3.308;
    
}

#shouting_all .sc_b .thumnail .urgent_box h1 {
    font-size: 20px;
    overflow: hidden;
    text-align: center;
}

#shouting_all .sc_b .thumnail .time_box h1 {
    font-size: 1.538em;
    overflow: hidden;
    text-align: center;
}

#shouting_all .sc_b .thumnail .time_box h1 .span {
    color: #fff;
    font-family: 'Orbitron',sans-serif;
    font-size: 20px;
}

/* ********************************************************** */

#shouting_all .sc_b .thumnail .opacity {
    width:100%;
    position: absolute;
    z-index: 2;
}




#shouting_all .sc_b .txt_box .txt_t {
  overflow:hidden;
}


#shouting_all .sc_b .txt_box .txt_t .yet{
    width:18%;
    height: 28px;
    border-radius: 0 15px 15px 0;
    background:#2a2a2a;
    text-align: center;
    line-height: 2.5;
    color:#fff;
    font-size: 0.846em;
    float: left;
    font-weight: 500;
    display: block;
    text-decoration:none;
    margin-right: 10px;
    box-sizing: border-box;
    margin-top:4px;

    

}

#shouting_all .sc_b .txt_box .txt_t .emergency{
    width:18%;
    height: 28px;
    border-radius: 0 15px 15px 0;
    background:red;
    text-align: center;
    line-height: 2.5;
    color:#fff;
    font-size: 0.846em;
    float: left;
    font-weight: 500;
    display: block;
    text-decoration:none;
    margin-right: 10px;
    box-sizing: border-box;
    margin-top:4px;
    

}

#shouting_all .sc_b .txt_box .txt_t .icon {
line-height: 1.7;
    }


#shouting_all .sc_b .txt_box .txt_t h3 {
	display:block;
    font-size: 1.538em;
    line-height: 1.7;
    color:#333;
	font-weight: 500;
    float: right;
    background:url(/assets/images/nav_line_bg.gif) repeat-x center 22px;

}

#shouting_all .sc_b .txt_box .txt_t h3 b {
    font-weight: 800;
}

#shouting_all .sc_b .txt_box .txt_t h3 img {
    width: 5vw;
}

#shouting_all .sc_b li .misson_t{
    margin-top:15px;
    
}

#shouting_all .sc_b li .misson_t .icon{
    margin-left:5px;
    width: 40px;
    height: 40px;
}

#shouting_all .sc_b li .misson_t .icon_close{
    margin-left:5px;
    width: 40px;
    height: 40px;
    opacity: 0.4;
    filter:grayscale(40);
}

#shouting_all .sc_b .txt_box .misson_t a {
    display: block;
    text-decoration:none;
    overflow: hidden;
    color:#656565;
    font-weight: normal;
	font-size: 1.154em;
	line-height:1.5;
}


#shouting_all .sc_b .txt_box .misson_t a h2{
	width: 100%;
    font-size: 1.5em;
    font-weight: 600;
  	color:#333;
	margin-bottom: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
   
}

/*미션진행중 css 종료*/


/*오픈 예정 이벤트 css*/



#shouting_all .sc_b .lock .thumnail p{   
    background-color: rgba(255, 217, 0, 0.5);    
}


#shouting_all .sc_b .lock .opacity { 
    background-color: rgba(0,0,0,0.5); 
}





#shouting_all .sc_b .lock .txt_box .txt_t .yet{
    background:#fab908;
    color:#fff;
}



#shouting_all .sc_b .lock .txt_box .txt_t h3 {
    color:#fab908; 
    background:none;
}






#shouting_all .sc_b .lock .txt_box .misson_t a h2{
	color:#fab908;    
}



    
/*오픈예정 css 끝*/



/*미션마감 css 시작*/




#shouting_all .sc_b .endgame .thumnail .opacity {
  
    background-color: rgba(255,255,255,0.5);
   
}








#shouting_all .sc_b .endgame .txt_box .txt_t .yet{
    color:#fff;
    background:#c3c3c3;
}




#shouting_all .sc_b .endgame .txt_box .txt_t h3 {
    color:#ddd;
    background:none;
}


#shouting_all .sc_b .endgame .txt_box .misson_t a h2,
#shouting_all .sc_b .endgame .txt_box .misson_t a {
    color:#ddd;    
}



/*//미션리스트 css끝*/



/*미션상세페이지 css 시작*/


.event_content_all{
	width: 100%;
	float: left;
}

.event_title{ 
    display: block;	
    width: 100%;		
}

.event_title dt{
	padding-bottom: 13px;
	padding-top:13px;
    border-bottom:1px solid #ddd;
    overflow: hidden;
	
}

.event_title dt p{
    display: block;   
    color:#333;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.5;
    width: 70%;
    float: left;
    padding-top:1%;
    
}


.event_title dd{   
    border-bottom:1px solid #ddd;
	padding-top:13px;
	padding-bottom:13px;
	overflow: hidden;
	
}


.event_title dd ul{
    overflow: hidden;
    display: block;   
}


.event_title u{
    width:18%;
    height: 28px;
    border-radius: 0 15px 15px 0;
    background:#2a2a2a;
    text-align: center;
    line-height: 2.5;
    color:#fff;
    font-size: 0.846em;
    float: left;
    font-weight: 500;
    display: block;
    text-decoration:none;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top:4px;
    padding-right: 2px;
    box-sizing: border-box;

}

.event_title dd ul.detail_title {
    overflow: hidden;
    width: 100%;
    
}

.event_title .icon{   
    width: 40px;
    height: 40px;
    margin-left: 170px;
}


.event_title dd ul.detail_title li {
    display: block;
    color:#fab908;
    font-weight: 500;
    font-size: 1em;
    line-height: 2.538;
    float: left;
    box-sizing: border-box;
    padding-right: 1.5%;
    
}


 .event_title dd ul.detail_title li strong{   
    color:#333;
    display: inline-block;
    font-weight: normal;
    background:url(/assets/images/nav_line_bg.gif) repeat-x center 21px;
    
 }

 .event_title dd ul.detail_title li b {
     font-weight:600;

 }

 /* .event_title dd ul.detail_title li:first-child{

   background:url(/assets/images/title_bar.png) no-repeat right;   
} */

.event_title dd ul.detail_title li:last-child{
    padding-right: 0px;
    padding-left:0.7%;
    
  
 }

.event_main{
    height: 100vmin; 
    width: 100vmin;
	margin:0 auto;
	padding-bottom: 50px;
	
    
    
}


.event_content_all .event_main iframe{
    width: 100%;

 }



 .event_content_all .write{
    width: 100%;
    box-sizing: border-box;
    font-size:1.154em;
    padding-bottom:50px;
    font-weight: normal;
    padding-top:50px;
    min-height: 300px;
    line-height: 1.5;
}






/*************제이쿼리 타이머 퍼샤우팅*****************/

/************미션상세 타임바******************/
#time_btn_bar {margin-top:0px!important; display: none; width: 100%; padding: 20px 0!important; position: fixed; bottom:0; background:rgb(250,185,8,0.9); z-index:998;}
#time_btn_bar .time_bar_cont {width: 90%; margin:0 auto; overflow:hidden;}
#time_btn_bar .time_bar_cont .btn1 {float:right;     padding: 0px 15px}
#time_btn_bar .time_bar_cont p.m_txt {width: 47%; float: left; font-weight: 500; margin-top: 13px; font-size: 1.4em; color:#fff; border-bottom: 1px solid #fff; padding-bottom: 8px; text-align: center;}

.time_box {
	text-align: center;
	float: left;
}

.time_box .time_label { position: absolute;bottom: 12px; }
.time_box .time_label small {
    display: inline-block;
    text-align: center; 
    color: #ffeebe;
    font-size: 10px;
    width: 42px;
    font-weight: 500;
}


.time_bar_cont h1.timer {
	color: #fff;
    font-size: 32px;
    line-height: 37px;
    padding-right: 0px;
    min-width: 230px;
   
  }

  /* h1.timer {
    color: #fff;
    font-family: 'Orbitron',sans-serif;
    font-size: 50px; */

.jst-hours {
float: left;
}
.jst-minutes {
float: left;
}
.jst-seconds {
float: left;
}
.jst-clearDiv {
clear: both;
}

.bodyTimeoutBackground {
background: #fff;
}

.timeout {
color: red;
-webkit-animation-name: blinker;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
-webkit-animation-duration: 1s;
}
@-webkit-keyframes blinker {
from { opacity: 1.0; }
to { opacity: 0.0; }
}
  
.modal-open { padding-right: 0px !important; }
h4 {font-size: 18px; font-weight: 500;}
.modal { padding-right: 0px !important; }
.modal-body { font-size: 11px;}
.start {line-height: 1.3;}
.start2 {line-height: 1.3;}
.start3 {line-height: 1.3;}
/* #infoModal {overflow:hidden; height:auto;} */
.modal-dialog {
    margin: 0rem auto;
    padding-right: 0px !important;
    
}
  
