/**
	researchpaper skin css
*/

#research_wrap{
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	text-align: justify;
}

#research_wrap h3{
    margin:0 auto;
    display: block;
    font-size:2.692em;
    padding-top:50px;
	padding-bottom:60px;
	text-align:center;
	color:#000;
}

#research_wrap .research_content{
	padding-bottom:50px;
	padding-left: 5px;
	padding-right: 5px;
}

/* 퍼백서 내용 css 시작  */ /* 모바일 버전 */

#research_wrap .research_content .research_top{
	width: 100%;		
}


#research_wrap .research_content .research_b{
	width: 100%;
}

#research_wrap .research_content .content_area{
	overflow: hidden;
	padding-top:35px;
	width: 100%;
}



#research_wrap .research_content h4{
	font-size: 2.154em;
	font-weight: 500;
	color:#1b1b1b;
	padding-bottom:40px;
	display: block;
}


#research_wrap .research_content p{
	font-size: 1.154em;
	font-weight: 300;
	color:#333;
	line-height:1.7;
	display: block;
	width: 100%;
}

#research_wrap .research_content .exp{
	display: block;
	width:922px;
	font-size: 12px;
	color: rgb(233, 2, 2);
	text-align: start;

}


#research_wrap .research_content .p_bold{
	font-weight: 400;
	color:#444;
	line-height:1.5;
	display: inline-block;
}


#research_wrap .research_content .p_g{
	font-weight: 300;
	font-size: 1.385em;
	color:#999;
	line-height:2.077em;
	display: inline-block;
}



#research_wrap .research_content .text_g {
	display: block;
}


#research_wrap .research_content .text_g li{
	padding-bottom:30px;
	display: block;
	line-height: 1.7;
}

#research_wrap .research_content .text_g li .list{
	display: block;
	padding-top:5px;
	
}

#research_wrap .research_content .text_g li .list li{
	display: block;
	font-size:1.077em;
	color:#999;
	font-weight: 400;
	padding-bottom: 15px;
	line-height: 1.7;
}


#research_wrap .research_top .text_g{
	/* font-size: 12px; */
}


#research_wrap .research_content .text_g .sub_title{
	font-size: 16px;
	font-weight: 600;
	padding-bottom:20px;
	color:#333;
	display: block;
	line-height: 1.7;
	font-family: 'Noto Sans KR', sans-serif;
	
}

#research_wrap .research_content .text_g input{
	margin-bottom: 10px;
    outline: none;
    border-style: none;
    border-bottom: 2px solid #000;
	font-size: 18px;
}



label

input[type="checkbox"] {
	display: block;
	width: 20px;
	height: 20px; 
	margin-top: 5px;
}



input[type="radio"] {
	display: block;
	width: 20px;
	height: 20px; 
	margin-top: 5px;
	
}

input[type="text"] {
	display: block;
	width: 290px;
	color:#c3c1c1;
	margin-top: 5px;
	margin-left: 5px;
}

input[type="file"] {
	display: inline-block;
	width: 335px;
	color: #999;
	cursor: pointer;
  
  }  



  select{
	width: 120px; height: 40px; 
}



#research_wrap .research_content .text_g .form-group{
	display: block;
	width: 335px;
	padding-bottom: 20px;
	position: relative;
}

#research_wrap .research_content .text_g .copyButton {
    position: absolute;
    top: 2px;
    left: 300px;
    background: #fbb906;
    color: #fff;
    border: none;
    height: 30px;
    font-size: 0.8em;
    padding: 0 2em;
    cursor: pointer;
    transition: 600ms ease all;
    outline: none;
}

#research_wrap .research_content .text_g .form-group label{
	display: inline-flex;
	width: 500px;
	height: 50px;
	font-size: 13px;
	margin-bottom: 10px;
	color: red;
}


#research_wrap .bt {
	margin-bottom: 30px;
}


#research_wrap .research_content .text_g .form-group .tex{
	display:block;
	font-size: 15px;
	text-align:justify;
	width: 180px;
	height: 20px;
	 padding-bottom: 10px;
	 margin-left: 10px;
}

#research_wrap .research_content .text_g .form-group textarea{
	display: block;
	width: 335px;
	height: 150px;
	font-size: 15px;
	resize: none;
	
}

#res_name , #respon_email , #respon_tel {
	width: 330px;
	height: 30px;
}

#research_wrap h3{
	margin-top: 35px;
	
	padding-bottom: 50px;
	text-align: center;
	font-size: 25px;
	}

#research_wrap .research_page4 small{
	text-align: center;
	margin-right: 70px;
	padding-bottom: 100px;
	padding-top: 20px;
	}



#research_wrap .research_content .content_area .img{
	width: 100%;
	margin-bottom:20px;
	display: block;
	margin: 0 auto;
}


#research_wrap .research_content .content_area .s_img{
	width: 100%;
	margin-bottom:20px;
	display: block;
	margin: 0 auto;
}

#research_wrap .research_content .content_area img{
	width: 100%;
	margin-bottom:20px;
	display: block;
}

#research_wrap .research_content .content_area .long i{
	display: block;
	width: 100%;
	font-size: 1.2em;
	font-weight: 300;
	color:#333;
	line-height:1.5;
	padding-top:10px;
}




#research_wrap .bt{
	margin-top:50px;	
	margin-bottom: 60px;
	display: block;
	text-align:  center;
		
}


#research_wrap .bt li{
	display: inline-block;
}

#research_wrap .bt li:first-child{
	padding-right: 5px;
}





#research_wrap .bt .btn1 {
	font-size:1em ;	
}





#research_wrap .bt li{
	display: inline-block;
}







i{
		font-size: 15px;
		font-weight: bold;
		cursor: pointer;
		margin-left: 5px;
}


